* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #222;
  display: flex;
  justify-content: center;
  padding: 30px;
  font-family: Arial, sans-serif;
}

.player {
  max-width: 750px;
  width: 100%;
  border: 5px solid #444;
  background: #000;
  overflow: hidden;
  border-radius: 5px;
}

.player__video {
  width: 100%;
}

.player__controls {
  display: flex;
  flex-wrap: wrap;
  background: rgba(0,0,0,0.3);
  padding: 10px;
}

.player__button {
  background: none;
  border: 1px solid #fff;
  color: white;
  padding: 5px 10px;
  margin-right: 10px;
  cursor: pointer;
}

.player__slider {
  width: 100px;
  margin-right: 10px;
}

.progress {
  flex: 1;
  height: 10px;
  background: #555;
  cursor: pointer;
  margin-bottom: 10px;
  position: relative;
}

.progress__filled {
  width: 0;
  height: 100%;
  background: #1e90ff;
  flex-basis: 0%;
}
